<div nz-row nzJustify="center" class="row">
    <div class="col1" nz-col [nzXs]="{ span: 20, offset: 0}" [nzSm]="{ span: 6, offset: 2 }" [nzXl]="{ span: 6, offset: 2}">
        <a nz-dropdown [nzDropdownMenu]="menu">
        ¿Qué es Pas eGov?
        <i nz-icon nzType="down"></i>
      </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
                <li nz-menu-item>Sobre Pas eGov</li>
                <li nz-menu-item>Sumate</li>
            </ul>
        </nz-dropdown-menu>
    </div>

    <div style="text-align: center;" nz-col [nzXs]="{ span: 20, offset: 0 }" [nzSm]="{ span: 6, offset: 1 }" [nzXl]="{ span: 6, offset: 2}">
        <button nz-button class="btn1">Registrarse</button>
    </div>
    <div style="text-align: center;" nz-col [nzXs]="{ span: 20, offset: 0 }" [nzSm]="{ span: 6, offset: 1 }" [nzXl]="{ span: 6, offset: 1}">
        <button nz-button class="btn2">Iniciar Sesión</button>
    </div>

</div>

<div nz-row nzJustify="center" class="row2">
    <div nz-col [nzXs]="{ span: 22, offset: 0}" [nzSm]="{ span: 10, offset: 0 }" [nzXl]="{ span: 6, offset: 1}">
        <div class="row2Col1">
            <img width="30%" src="assets/logoPAS.jpg" alt="" />
        </div>
    </div>
    <div style="text-align: center;" nz-col [nzXs]="{ span: 22, offset: 0 }" [nzSm]="{ span: 10, offset: 0 }" [nzXl]="{ span: 8, offset: 2}">
        <div class="row2Col2">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" style="padding: 10px;">
                <input type="text" nz-input placeholder="Buscar" />
            </nz-input-group>
            <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
            </ng-template>
        </div>
    </div>

</div>
<div nz-row nzJustify="center" class="row3" *ngIf="opcionesPrincipales">
    <div nz-col [nzXs]="{ span: 16, offset: 2 }" [nzSm]="{ span: 10, offset: 1 }" [nzXl]="{ span: 22, offset: 0}">
        <div nz-row nzJustify="center">
            <ul nz-menu nzMode="horizontal" class="menu">
                <li nz-submenu nzTitle="{{principal.label}}" style="font-size: 18px;" *ngFor="let principal of opcionesPrincipales">
                    <ul>
                        <li nz-menu-group *ngFor="let secundarias of principal.opcionesSecundarias">
                            <ul>
                                <li nz-menu-item>
                                    {{secundarias.label}}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>

</div>
