.row {
    padding: 10px 0 10px 0;
}

.col1 {
    text-align: center;
    padding: 5px;
}

a {
    color: white;
}

.btn1 {
    border-radius: 5px;
    border: 1px solid white;
    background-color: #3366cc;
    color: white;
}

.btn2 {
    border-radius: 5px;
    border: 1px solid white;
    background-color: #3366cc;
    color: white;
}

.row2 {
    background-color: rgb(242 242 242);
}

.row2Col1 {
    padding: 10px 0 10px 0;
    text-align: center;
}

.row2Col2 {
    padding: 20px 0 10px 0;
    text-align: right;
}

.row3 {
    background-color: #eaeaea;
    /* background-color: rgb(242 242 242); */
    border-bottom: 3px solid #f42e62;
}

.menu {
    background-color: #eaeaea;
}
