<div class="page-container">
    <header>
        <lib-header></lib-header>
    </header>
    <div class="contenido-container">
        <br><br>
        <lib-botones></lib-botones>
        <ng-content select=".contenido" #contenido></ng-content>
    </div>
    <footer>
        <lib-footer></lib-footer>
    </footer>
</div>
