.prueba {
    background-color: rgb(199 199 199 / 24%);
    margin: 0px;
    border-width: 0;
    border-top: 2px solid rgba(156, 160, 155, 0.5);
    padding: 0px;
    legend {
        /*  background-color: rgba(80, 166, 49, 0.2); */
        color: #000000;
        font-weight: 500;
        margin: 0 auto;
        width: unset;
        padding-left: 15px;
        padding-right: 15px;
        border-left: 2px solid rgba(156, 160, 155, 0.5);
        border-right: 2px solid rgba(156, 160, 155, 0.5);
    }
}

.redes {
    margin-top: 20px;
    padding-top: 20px;
}

.canales {
    background-color: #c7c7c7bf;
    border-top: 2px solid #c7c7c7bf;
    margin-top: 20px;
    padding-top: 20px;
}

.politicas {
    background-color: #c7c7c7bf;
    border-bottom: 2px solid #c7c7c7bf;
    padding: 20px 0px 20px 0px;
}

.derechos {
    padding: 5px 0px 5px 0px;
}

.link-pie-pagina {
    color: black;
    &:hover {
        color: #3366cc;
    }
}

.seccion-opciones {
    text-decoration: underline;
    color: #3366cc;
    &:hover {
        color: black;
    }
}

fa-icon {
    font-size: 50px;
}
