<fieldset class="prueba">
    <legend>Unete a la conversación</legend>
    <div nz-row nzJustify="center" class="redes">

        <div nz-col [nzXs]="{ span: 2, offset: 0 }" [nzSm]="{ span: 2,
            offset: 0 }" [nzXl]="{ span: 2, offset: 1 }">
            <fa-icon [icon]="twitter"></fa-icon>
        </div>

        <div nz-col [nzXs]="{ span: 2, offset: 3 }" [nzSm]="{ span: 2,
            offset: 3 }" [nzXl]="{ span: 2, offset: 0 }">
            <fa-icon [icon]="facebook"></fa-icon>
        </div>
    </div>

    <div nz-row nzJustify="center" class="canales">

        <div nz-col [nzXs]="{ span: 14, offset: 0 }" [nzSm]="{ span: 20, offset:
            0 }" [nzXl]="{ span: 20, offset: 0 }">
            <nz-space nzDirection="vertical">
                <nz-space-item>
                    <span nz-typography><strong>Canales de Atención</strong></span>
                </nz-space-item>
                <nz-space-item>
                    <a class="link-pie-pagina" routerLink="/caucaAncestral">Canal 1 </a>
                </nz-space-item>
                <nz-space-item>
                    <a class="link-pie-pagina" routerLink="/caucaAncestral">Canal 2 </a>
                </nz-space-item>
            </nz-space>
        </div>
    </div>

    <div nz-row nzJustify="center" class="politicas">

        <div nz-col [nzXs]="{ span: 14, offset: 0 }" [nzSm]="{ span: 6, offset:
            0 }" [nzXl]="{ span: 6, offset: 2 }">
            <a class="seccion-opciones" target="_blank" routerLink="/#"> Política de seguridad de la información</a>
        </div>

        <div nz-col [nzXs]="{ span: 14, offset: 0 }" [nzSm]="{ span: 4, offset:
            0 }" [nzXl]="{ span: 5, offset: 0 }">
            <a class="seccion-opciones" target="_blank" href="https://www.datos.gov.co"> Datos abiertos</a>
        </div>

        <div nz-col [nzXs]="{ span: 14, offset: 0 }" [nzSm]="{ span: 5, offset:
          0 }" [nzXl]="{ span: 6, offset: 0 }">
            <a class="seccion-opciones" target="_blank" href="https://www.gov.co/home"> Tramites y servicios en gov.co</a>
        </div>

        <div nz-col [nzXs]="{ span: 14, offset: 0 }" [nzSm]="{ span: 5, offset:
            0 }" [nzXl]="{ span: 5, offset: 0 }">
            <a class="seccion-opciones" target="_blank" routerLink="/#"> Términos y condiciones</a>
        </div>

    </div>

    <div nz-row class="derechos">
        <div nz-col [nzXs]="{ span: 10, offset: 2 }" [nzSm]="{ span: 8, offset:
            2 }" [nzXl]="{ span: 8, offset: 2 }">
            @Copyright Kishrón
        </div>
        <div nz-col [nzXs]="{ span: 2, offset: 0 }" [nzSm]="{ span: 2, offset:
            1 }" [nzXl]="{ span: 6, offset: 0 }">
            .
        </div>
        <div nz-col [nzXs]="{ span: 8, offset: 2 }" [nzSm]="{ span: 8, offset:
            2 }" [nzXl]="{ span: 6, offset: 2 }">
            Diseño, Desarrollo y Soporte:
            <a class="link-pie-pagina" href="https://www.facebook.com/kishron/">
                @Kishrón</a>
        </div>
    </div>
</fieldset>
